Source: ros-kilted-py-trees-ros-tutorials
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), pyqt5-dev-tools, python3-pytest <!nocheck>, python3-setuptools, qttools5-dev-tools, ros-kilted-action-msgs <!nocheck>, ros-kilted-py-trees <!nocheck>, ros-kilted-py-trees-ros <!nocheck>, ros-kilted-rclpy <!nocheck>, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://py-trees-ros-tutorials.readthedocs.io/en/release-2.0.x/
Standards-Version: 3.9.2

Package: ros-kilted-py-trees-ros-tutorials
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, libpyside2-dev, libshiboken2-dev, pyqt5-dev, python3-pyqt5, python3-pyqt5.qtsvg, python3-pyside2.qtsvg, python3-sip-dev, ros-kilted-action-msgs, ros-kilted-geometry-msgs, ros-kilted-launch, ros-kilted-launch-ros, ros-kilted-py-trees, ros-kilted-py-trees-ros, ros-kilted-py-trees-ros-interfaces, ros-kilted-rcl-interfaces, ros-kilted-rclpy, ros-kilted-ros2launch, ros-kilted-ros2param, ros-kilted-ros2run, ros-kilted-ros2service, ros-kilted-ros2topic, ros-kilted-sensor-msgs, ros-kilted-std-msgs, shiboken2, ros-kilted-ros-workspace
Description: Tutorials for py_trees on ROS2.
